{% extends 'base.html.twig' %}




{%block body%}
    <style>
        .nav{
            text-decoration-color: whitesmoke;
        }
    </style>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ec4d4d;">
        <div class="container-lg" >
            <a class="navbar-brand" href="{{path('home') }}">FitnessK</a>
            <!-- Btn pour cacher-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="nav navbar-nav navbar-right">
{#                <li><a class="nav-item nav-link nav-category" href="#resume">Activité</a></li>#}
                <li><a class="nav-item nav-link nav-category" href="{{ path('subscribe_fitness') }}">Abonnement</a></li>
{#                <li><a class="nav-item nav-link nav-category" href="#experience">Boutique</a></li>#}
{#                <li><a class="nav-item nav-link nav-category" href="#experience">Contact</a></li>#}

                {% if app.user %}
                    <li><a class="nav-item nav-link nav-category" href="{{ path('app_logout') }}">Déconnexion</a></li>
                {% else %}
                    <li><a class="nav-item nav-link nav-category" href="{{ path('app_register') }}">Enregistrement</a></li>
                    <li><a class="nav-item nav-link nav-category" href="{{ path('app_login') }}">Connexion</a></li>
                {% endif %}

            </ul>
        </div>
        </div>
    </nav>


{%endblock%}
