{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% include "templatePart/navbar.html.twig"%}
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-lg-4">

                </div>
                <div class="col-lg-4">

                    <h1>S'enregistrer</h1>
                    {{ form_start(registrationForm) }}





                    {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}



                    {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}






                    {{ form_row(registrationForm.name, {'attr': {'class': 'form-control'}}) }}

                    {{ form_row(registrationForm.forname, {'attr': {'class': 'form-control'}}) }}


                    {{ form_row(registrationForm.birthday) }}

                    {{ form_row(registrationForm.sexe, {'attr': {'class': 'form-control'}}) }}




                    <br>
                    <button type="submit" class="btn btn-success">S'enregister</button>
                    <button type="reset" class="btn btn-danger">Effacer</button>
                    {{ form_end(registrationForm) }}





                </div>
                <div class="col-lg-4">

                </div>


            </div>



        </div>



    </div>




{% endblock %}
