{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% include "templatePart/navbar.html.twig"%}
    <div class="container">
        <h1> Demande d'inscription</h1>
        <div class="form-control">
            {{ form_start(form) }}

            {{ form_row(form.startdate)}}<br>
            {{ form_row(form.options, {'attr': {'class': 'form-control'}}) }}<br>

            {{ form_row(form.type)}}<br>

            <button type="submit" class="btn btn-success">Valider</button>
            <button type="reset" class="btn btn-danger">Effacer</button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
